#dependensies
fastapi
uvicorn[standard]
python-dotenv
python-multipart
jinja2
itsdangerous
pyjwt
websockets
azure-search-documents
openai
azure-identity==1.18.0
redis
langgraph
langchain
langchain-community
langchain-openai
langchain-core
langchain-text-splitters
faiss-cpu
psycopg2-binary
pandas
azure-storage-blob
openpyxl
pypdf
tiktoken
